
.ribbon{
  position:relative;
  padding: 0 0.5em;
  font-size:0.750000em;
  margin: 0 0 0 -0.325em;
  margin-top: -0.5em;
  line-height: 1.75em;
  color: #e6e2c8;
  border-radius: 0 0.156em 0.156em 0;
  background: rgb(123, 159, 199);
  box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
  width: 25%;
}

.ribbon:before, .ribbon:after{
  position:absolute;
  content: '';
  display: block;
}

.ribbon:before{
  width: 0.469em;
  height: 100%;
  padding: 0 0 0.438em;
  top:0;
  left: -0.469em;
  background:inherit;
  border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after{
  width: 0.313em;
  height: 0.313em;
  background: rgba(0,0,0,0.35);
  bottom: -0.313em;
  left: -0.313em;
  border-radius: 0.313em 0 0 0.313em;
  box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
}

@media (max-width: 900px) {
  
  body{
    font-size:0.875em;
  }
  
  .ribbon{
    line-height: 1.143em;
    padding: 0.5em;
  }
  
  .ribbon:before, .ribbon:after{
    font-size: 0.714em;
  }
  .testtest::-webkit-scrollbar {    display: none;}
  .testtest{
    white-space: nowrap;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap !important;
    overflow-x: auto;
  } 
}